
<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h1>{{ "Teachers" | localize }}</h1>
                </div>
                <div class="col-6 text-right" *ngIf="isGranted('pages.CreateTeacher')">
                    <a href="javascript:;" class="btn bg-blue"(click)="createUser()">
                        <i class="fa fa-plus-square"></i>
                        {{ "Create" | localize }}
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">&emsp;</div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn bg-blue" (click)="getDataPage(1)">
                                        <i class="fas fa-search"></i>
                                      </button>
                                    </div>
                                    <input type="text" class="form-control" name="keyword" [placeholder]="'SearchWithThreeDot' | localize"
                                      [(ngModel)]="keyword" (keyup.enter)="getDataPage(1)" />
                                     <div class="input-group-append">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead class="bg-light">
                                <tr>
                                    <th>{{ "Name" | localize }}</th>
                                    <th>{{ "Age" | localize }}</th>
                                    <th>{{ "Class" | localize }}</th>
                                    <th>{{ "Gender" | localize }}</th>
                                    <th>{{ "Marital Status" | localize }}</th>
                                    <th *ngIf="isGranted('pages.EditTeacher') || isGranted('pages.DeleteTeacher')" style="width: 310px;">{{ "Actions" | localize }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (
                                item of TeacherList
                                | paginate
                                : {
                                id: 'server',
                                itemsPerPage: pageSize,
                                currentPage: pageNumber,
                                totalItems: totalItems
                                }
                                ; track
                                item.id) {
                                <tr>
                                    <td>{{item.name}}</td>
                                    <td>{{item.age}}</td>
                                    <td>{{item.className}}</td>
                                    <td>{{ Setgender(item.gender) }}</td>
                                    <td>{{SetMaritStatus(item.maritalStatus)}}</td>
                                    <td *ngIf="isGranted('pages.EditTeacher') || isGranted('pages.DeleteTeacher')">
                                        <button *ngIf="isGranted('pages.EditTeacher')" type="button" class="btn btn-sm bg-secondary"(click)="editUser(item)">
                                            <i class="fas fa-pencil-alt"></i>
                                            {{ "Edit" | localize }}
                                        </button>
                                        <button *ngIf="isGranted('pages.DeleteTeacher')" type="button" class="btn btn-sm bg-danger mx-2" (click)="delete(item)">
                                            <i class="fas fa-trash"></i>
                                            {{ "Delete" | localize }}
                                        </button>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer table-card-footer bg-light border-top">
                    <div class="row">
                        <div class="col-sm-4 col-12 text-sm-left text-center">
                            <button class="btn btn-secondary" (click)="refresh()">
                                <i class="fas fa-redo-alt"></i>
                            </button>
                        </div>
                        <div class="col-sm-4 col-12 text-center">
                            <p class="mb-0 my-2">
                                {{ "TotalRecordsCount" | localize: totalItems }}
                            </p>
                        </div>
                        <div class="col-sm-4 col-12">
                            <div class="float-sm-right m-auto">
                                <abp-pagination-controls id="server" (pageChange)="getDataPage($event)">
                                </abp-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>